<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ping.maplelist">
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="메이플 리스트"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Maplelist"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5026314667463298~9595784536"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".ExpActivity"/>
        <activity android:name=".ExpResultActivity"/>
        <activity android:name=".SymbolActivity" />
        <activity android:name=".SymbolResultActivity" />
        <activity android:name=".MvpActivity" />
        <activity android:name=".MvpResultActivity" />
        <activity android:name=".DiaryActivity" />
        <activity android:name=".InfoActivity" />
    </application>

</manifest>